<app-page-section>
    <h3 class="fw-bold text-light">Our Service</h3>
    <p class="fw-normal">Home / Our Service</p>
</app-page-section>

<div class="container">
    <div class="row p-5">
        <div class="col-md-3">
            <img src="../../assets/srv-1.jpg" alt="" class="w-100 h-75">
        </div>
        <div class="col-md-9">
            <h3 class="fw-bold">Training & Identified Role</h3>
            <p>We conduct learning events based on the training needs identified for the role that you will be handling in the organization, We have a strong process of career dialogues, coaching, and mentoring as part of the development interventions. We also facilitate you with transition programs to move from one level to another and from one job role to another within the organization. We agree with the Chinese proverb that states “If you are planning for one year, grow rice, If you are planning for twenty years, grow trees and If you are planning for centuries, grow people. BAS has set up a dedicated Placement Assistance team in order to help its students get their dream jobs after course completion. The team also facilitates on-campus interviews where the top brass from all the leading domestic and international airlines, and reputed Hospitality, Travel, and Customer Service organizations have a meet-and-greet with students.</p>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-md-9">
            <h3 class="fw-bold">Ground Staff At Airport</h3>
            <p>No airport or airline can function sustainably without airport ground workers. They are an essential component of the aviation business and cannot be replaced by technology. Therefore, positions for ground staff are secure. The majority of ground crew positions are difficult, but they also offer competitive pay. Working on the ground staff need to be quick thinkers who can devise creative solutions to unforeseen problems. Airport ground personnel's obligations and duties Although there are several tasks and obligations associated with ground staff positions, the primary one is to guarantee the security and comfort of every traveller passing through the airport. The job descriptions for their ground employees vary between airports and airlines, but overall. The company has an excellent success rate in this regard, with its students being placed in leading international and domestic airlines and various organizations in aviation sector.</p>
        </div>
        <div class="col-md-3">
            <img src="../../assets/srv-2.jpg" alt="" class="w-100 h-75">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>What responsibilities do airport ground staff need to perform in an airport terminal? The ground staff at airports has a variety of responsibilities. To guarantee that the passengers are given the right help, they must always be ready and alert. The following duties must be carried out by airport ground workers inside the terminal:</p>
            <ul>
                <li>• They must keep waiting passengers informed about their flight at all times.</li>
                <li>• The traveller should assist with rebooking or redirection if their flight is delayed or cancelled.</li>
                <li>• They must make sure that passengers may check in without difficulty while flying.</li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-primary abt-banner1" >
        </div>
    </div>
</div>
<div class="container">
    <div class="row p-3">
        <div class="col-md-3">
            <img src="../../assets/srv-3.jpg" alt="" class="w-100 h-75">
        </div>
        <div class="col-md-9">
            <h3 class="fw-bold">Cabin Crew Members</h3>
            <p>The cabin crew always has to make sure of the passengers inside the aircraft and the passenger does not have any kind of problems inside the aircraft and the cabin crew always has to satisfy their passengers inside the aircraft. Along with taking care of the health of the passengers, the cabin crew also has to take care of the safety measures for the passenger,The cabin crew position is inside a commercial airline. And the cabin crew is given customer service handling in which they take care of the customers of the airline. And providing customer service inside the airline to the cabin crew following corporate and government regulations.Purser: Senior flight attendant is called the purser, he is the chief flight attendant inside the flight who takes care of other flight attendants and finally the purser submits all the reports of the flight to the airline company, including the health of the passengers and their Safety majors are taken full care of.</p>
        </div>
        <div class="col-md-9">
            <h3 class="fw-bold">Flight Attendant</h3>
            <p>Flight attendants are known as stewards inside an airline. Flight attendants also help passengers understand and speak their languages. Flight attendants serving food to passengers, serving beverages, and ensuring and fulfilling pilot's orders are all the functions of a flight attendant inside the airline.  The task of the onboard chef inside the flight is to prepare food for all the passengers inside the aircraft. ?: The cabin crew has additional functions in which customer service is the most important responsibility. In which the flight attendant has to guide the passenger well using soft skills.</p>
        </div>
        <div class="col-md-3">
            <img src="../../assets/srv-4.jpg" alt="" class="w-100 h-75">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-primary abt-banner2" >
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 p-3">
            <p>GET CUSTOMER SERVICE EXPERIENCE: Cabin crew jobs for an airline may require skills and experience in customer service. While doing the work of cabin crew, they have to take care of all types of passenger feedback, in which it has to be ensured that there is no inconvenience to the passengers. Communication Skills: Customer Service Experience has to serve one's best communication skills and interact very well with the customers. The cabin Crew is required to resolve all conflicts between the passengers and the flight attendant while serving the customer. While working as Cabin Crew, the Flight Attendant Leader improves the ship quality so that there is no problem in solving the problems ahead, Customer service jobs can give you experience collaborating with others. You can use this experience when working with other cabin crew members.</p>
        </div>
    </div>
</div>
