<app-page-section>
    <h3 class="fw-bold text-light">About us</h3>
    <p class="fw-normal">Home / About us</p>
</app-page-section>

<div class="container">
    <div class="row p-5">
        <div class="col-md-3">
            <img src="../../assets/abt-1.jpg" alt="" class="w-100 h-75">
        </div>
        <div class="col-md-9">
            <h3 class="fw-bold">IndiGoAvi Aviation Services</h3>
            <p>IndiGoAvi Aviation Services is an ISO 9001:2015 Certified company & professional 
                team managed by professionals with a combined experience of more than 40 years in 
                the Aviation industry. We train students for bright careers in the field of Aviation, 
                Tourism & Hospitality. IndiGoAvi Aviation servies is established in view of providing 
                well trained staff for our customer for handling Passenger, Ramp and cargo activities 
                in Indian, We deliver consistent and reliable service with particular focus on the 
                specific requirements of our customer base. The Aviation Industry is doing its best 
                to bring about a better matching between the demand and the supply of work opportunities.
                IndiGoAvi Aviation Services conduct training programs and exams for recruitment to various
                services and posts. Candidates from IndiGoAvi Aviation Services has also got placed into
                various airport all over the country after successfully completing the training program.
                We offer job oriented certificate courses for a quick way to highly desired Aviation 
                & Tourism industry.</p>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-md-9">
            <p>Airport Operations students at the IndiGoAvi Aviation services receive broad 
                training in foundational skills, aviation operations, aviation retail, 
                emergency preparedness, and aviation airline management i.e Air India, 
                Indigo, and many other airline operations. We are proud to deliver an 
                education that goes beyond textbooks and classrooms. Our students gain 
                the technical skills, real-world experience, and problem-solving ability 
                needed to embrace complexity and lead innovation in a rapidly changing workforce. 
                Through close collaboration with industry, our network of alumni and partners continues 
                to achieve global success. With cutting-edge technologies, infrastructure, top-notch 
                qualified and professional teachers, and a team of some of the most experienced workers 
                in the aviation industry, it retains a competitive advantage in the sector. We are passionate 
                about leading-edge innovation, and our operations centers are well-located in Delhi.</p>
        </div>
        <div class="col-md-3">
            <img src="../../assets/abt-2.jpg" alt="" class="w-100 h-75">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>A history of giving airports and airlines all throughout India the best services. As a business, we assume all liabilities and provide prompt professional service. We offer solutions that are specifically crafted to meet the demands of clients, including everything from risk assessment and planning to requirements for integrated facility services and the supply and management of people. provides training and workforce to the aviation industry, serving 35 different clients at All Over Airport for jobs like passenger operations, ground staff, loaders and cleaners, customer sales executives, and guest service associates, among others.</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-primary abt-banner1" >
        </div>
    </div>
</div>
<div class="container">
    <div class="row p-3">
        <div class="col-md-3">
            <img src="../../assets/abt-3.jpg" alt="" class="w-100 h-75">
        </div>
        <div class="col-md-9">
            <h3 class="fw-bold">Our Vision</h3>
            <p>Our goal is to become a recognised leader in the corporate and aviation industries as an innovative team of driven professionals. We have prepared and trained personnel working in airports across India, providing all types of services ranging from general airport supervision to ground handling, loaders/cleaners, guests and customer services, and airport services. For our staff, quality and client happiness are our guiding principles, supported by a solid sense of integrity. For more than 30 years, we have been providing our clients with a wide range of exceptional services across India. providing any or all of the aforementioned services.</p>
        </div>
        <div class="col-md-9">
            <h3 class="fw-bold">Our Mission</h3>
            <p>The aviation industry is making every effort to improve the balance between available jobs and people seeking them. IndiGoAvi Aviation Services. holds exams and training sessions to hire people for various positions and services. Following completion of the training course, candidates from IndiGoAvi Aviation Services. were also hired by numerous airports around the nation. We provide career-focused certificate programs for a fast route into the highly sought-after aviation and tourism sectors.</p>
        </div>
        <div class="col-md-3">
            <img src="../../assets/abt-4.jpg" alt="" class="w-100 h-75">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-primary abt-banner2" >
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 p-3">
            <p>We work hard to offer a friendly and efficient service because we think that everyone deserves to be treated with respect. We are dedicated to providing top-notch visitor experiences and assisting job seekers in advancing their professional careers.</p>
        </div>
    </div>
</div>
