.abt-banner1{
    background-image: url('../../assets/stickybnr-Aviationpange.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 200px;
}
.abt-banner2{
    background-image: url('../../assets/main-banner2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 200px;
}