<app-page-section>
    <h3 class="fw-bold text-light">Aviaiton Program</h3>
    <p class="fw-normal">Home / Aviaiton Program</p>
</app-page-section>

<div class="container">
    <div class="row p-5">
        <div class="col-md-3">
            <img src="../../assets/wa-1.png" alt="" class="w-100 h-75">
        </div>
        <div class="col-md-9">
            <h3 class="fw-bold">Working With Aviaiton</h3>
            <p>Working in aviation, whether we are referring to working for an airline or working for an airport means you’ll be working as part of a huge, varied team. This team has a variety of roles requiring different skills. You could choose to pursue a customer service role such as becoming a flight attendant, baggage handler or airline ticket agent. Maybe you are more suited for a technical role such as a pilot, navigator, mechanic, or engineer. Or perhaps your skills lie in accounting, catering, finance, law or airport management. From entry-level to highly experienced, all employees work together to ensure customers get safely to their destinations. The combination of skills required and the fact that every major city in the world has an airport, means that jobs for airlines and airports are accessible to those looking to pursue their career in aviation. But what attracts candidates to these roles in the first place?</p>
        </div>
    </div>

    <div class="row p-3">
        <div class="col-md-9">
            <h3 class="fw-bold">Working With Airline</h3>
            <p>Employees working for an airline (including those that don’t fly as part of their job, are generally offered discounted flights, making travelling to those sought-after destinations, much more feasible for them. Generally, employees can travel for free or at a greatly reduced price on the airline they work for (space permitting). The airline Virgin Atlantic for example, offers a ‘Staff Travel’ scheme where full time employees are entitled to up to seven concessionary standby flights a year to any of their destinations (employees just pay the taxes on the flights). Some airlines even have agreements with each other offering their employees the chance to purchase discounted tickets on their airline flights as well.</p>
        </div>
        <div class="col-md-3">
            <img src="../../assets/wa-2.png" alt="" class="w-100 h-75">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>The obvious answer here is the travel opportunities a job in aviation can offer. Whilst working for an airline can be very demanding, it’s hard to find a better industry for travel opportunities. Some of the jobs themselves require extensive travel; pilots and flight attendants for example could visit as many as ten cities on several different continents in one five day shift! And the travel opportunities are there for when you’re off the clock too.</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-primary abt-banner1" >
        </div>
    </div>
</div>
<div class="container">
    <div class="row p-3">
        <div class="col-md-3">
            <img src="../../assets/abt-1.jpg" alt="" class="w-100 h-75">
        </div>
        <div class="col-md-9">
            <h3 class="fw-bold">IndiGoAvi Aviation Services</h3>
            <p>IndiGoAvi Aviation Services is an ISO 9001:2015 Certified company & professional 
                team managed by professionals with a combined experience of more than 40 years in 
                the Aviation industry. We train students for bright careers in the field of Aviation, 
                Tourism & Hospitality. IndiGoAvi Aviation servies is established in view of providing 
                well trained staff for our customer for handling Passenger, Ramp and cargo activities 
                in Indian, We deliver consistent and reliable service with particular focus on the 
                specific requirements of our customer base. The Aviation Industry is doing its best 
                to bring about a better matching between the demand and the supply of work opportunities.
                IndiGoAvi Aviation Services conduct training programs and exams for recruitment to various
                services and posts. Candidates from IndiGoAvi Aviation Services has also got placed into
                various airport all over the country after successfully completing the training program.
                We offer job oriented certificate courses for a quick way to highly desired Aviation 
                & Tourism industry.</p>
        </div>
        <div class="col-md-9">
            <p>Airport Operations students at the IndiGoAvi Aviation services receive broad 
                training in foundational skills, aviation operations, aviation retail, 
                emergency preparedness, and aviation airline management i.e Air India, 
                Indigo, and many other airline operations. We are proud to deliver an 
                education that goes beyond textbooks and classrooms. Our students gain 
                the technical skills, real-world experience, and problem-solving ability 
                needed to embrace complexity and lead innovation in a rapidly changing workforce. 
                Through close collaboration with industry, our network of alumni and partners continues 
                to achieve global success. With cutting-edge technologies, infrastructure, top-notch 
                qualified and professional teachers, and a team of some of the most experienced workers 
                in the aviation industry, it retains a competitive advantage in the sector. We are passionate 
                about leading-edge innovation, and our operations centers are well-located in Delhi.</p>
        </div>
        <div class="col-md-3">
            <img src="../../assets/abt-2.jpg" alt="" class="w-100 h-75">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-primary abt-banner2" >
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 p-3">
            <p>We work hard to offer a friendly and efficient service because we think that everyone deserves to be treated with respect. We are dedicated to providing top-notch visitor experiences and assisting job seekers in advancing their professional careers.</p>
        </div>
    </div>
</div>
