
<!-- main-footer OPEN -->
<div class="container-fluid">
  <div class="row p-2 p-md-5 live-notification">
    <div class="col-md-6 p-3">
      <div class="bg-light p-3 rounded">
        <h4 class="fw-bold text-secondory py-3"><i class="fa fa-bell" aria-hidden="true"></i>&nbsp;&nbsp; Notification -</h4>
        <div class="box border-2 border border-secondary p-3 rounded-4" style="background-color: bisque;">
          <ul class="noti-icn">
            <li>
              <a><b>CLICK HERE -<br></b>Fill Online Details For Advt No. 02/Exam/GS/LH/BAS/2022-23 <br><b>Airport Ground Staff / CSA <img src="../../assets/new.gif" alt=""></b></a>
            </li>
            <li>
              <a><b>CLICK HERE -<br></b>Fill Online Details For Advt No. 02/Exam/GS/LH/BAS/2022-23 <br><b>Loader / Housekeeping <img src="../../assets/new.gif" alt=""></b></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-3">
      <div class="bg-light p-3 rounded">
        <h4 class="fw-bold text-secondory py-3"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp; Information -</h4>
        <div class="box border-2 border border-secondary p-3 rounded-4" style="background-color: bisque;">
          <ul class="noti-icn">
            <li>
              <a><b>CLICK HERE -<br></b>Fill Online Details For Advt No. 02/Exam/GS/LH/BAS/2022-23 <br><b>Airport Ground Staff / CSA <img src="../../assets/new.gif" alt=""></b></a>
            </li>
            <li>
              <a><b>CLICK HERE -<br></b>Fill Online Details For Advt No. 02/Exam/GS/LH/BAS/2022-23 <br><b>Loader / Housekeeping <img src="../../assets/new.gif" alt=""></b></a>
            </li>
          </ul>
        </div>
      </div>      
    </div>
  </div>
</div>

<div class="main-footer p-4">
    <hr class="bg-warning">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a routerLink="" class="h4"><img src="" alt=""><img src="../../assets/logo.png" style="width: 130px;" alt=""></a>
          <p class="py-2" style="text-align: justify;">we connect people across the globe to a network of over 100 destinations worldwide. A uniform fleet for each type of operation, high operational reliability and an award-winning service make us one of the most reliable airlines in the world.</p>
            <ul class="d-flex justify-content-start p-0 m-0">
              <li><a href="https://web.whatsapp.com/" class="text-dark"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a href="https://web.whatsapp.com/" class="text-dark"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="https://web.whatsapp.com/" class="text-dark"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
              <li><a href="https://web.whatsapp.com/" class="text-dark"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="col-md-2">
          <ul>
            <b>Overview</b>
            <li><a routerLink="aboutus"><i class="fa fa-xing" aria-hidden="true"></i> &nbsp; About us</a></li>
            <li><a routerLink="Aviation"><i class="fa fa-xing" aria-hidden="true"></i> &nbsp; Aviation</a></li>
            <li><a routerLink="service"><i class="fa fa-xing" aria-hidden="true"></i> &nbsp; Service</a></li>
            <li><a routerLink="contact"><i class="fa fa-xing" aria-hidden="true"></i> &nbsp; Contact us</a></li>
          </ul>
          
        </div>
        <div class="col-md-2">
          <ul>
            <b>Overview</b>
            <li><a routerLink="notice"><i class="fa fa-xing" aria-hidden="true"></i> &nbsp;Notice</a></li>
            <li><a routerLink="apply-now"><i class="fa fa-xing" aria-hidden="true"></i> &nbsp;Apply Now</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <b>Contact us</b>
            <li>
              <a routerLink="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
                Tower-C Mehrauli - Gurgaon Rd, Sikanderpur Sector 26, Gurgaon, Hariyana 122002
                <!-- Sahar-Andheri East C/O Chhatrapati Shivaji International Airpot, 2 C, Sahar-Andheri East, Andheri East, Mumbai -->
              </a>
            </li>
            <li>
              <a href="tel:7409852259">
                <i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;
                +91-7409852259
              </a>
            </li>
            <li>
              <a href="tel:18774862048">
                <i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;
                1877-486-2048 (HelpLine)
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center p-2" style="background-color: #130F40;">
    <a routerLink="" class="text-light">Copyright © 2023 indiGoAvi All Rights Reserved</a>
  </div>
<!-- main-footer CLOSE -->
  
  